certifi==2024.2.2
charset-normalizer==3.3.2
clr==1.0.3
colorama==0.4.6
customtkinter==5.2.2     
darkdetect==0.8.0        
decorator==4.4.2
idna==3.7
imageio==2.34.1
imageio-ffmpeg==0.4.9    
moviepy==1.0.3
numpy==1.26.4
packaging==24.0
pillow==10.3.0
proglog==0.1.10
psutil==5.9.8
pyasn1==0.6.0
PyQt6==6.7.0
PyQt6-Qt6==6.7.0
PyQt6-sip==13.6.0
PySimpleGUI==5.0.4
pytube==15.0.0
pywin32==306
requests==2.31.0
rsa==4.9
setuptools==69.5.1
tk==0.1.0
tqdm==4.66.4
urllib3==2.2.1
WMI==1.5.1